* {
    margin: 0 auto;
    font-size: 10px;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    background: lightslategray;
}

.header, .question-block, .game-container {
    width: 80%;
    margin-bottom: 1.5vh;
}

.question-block {
    background-color: darkcyan;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header_information {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_information-logo {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 3rem;
}

.header_information-score {
    margin: 0;
    height: 100%;
    text-align: right;
    line-height: 8rem;
    align-items: center;
    font-size: 2rem;
}

.header_navigation {
    border-radius: 5px;
    background: lightcyan;
    min-height: 35px;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.navigation-link {
    height: 35px;
    border-radius: 5px;
    display: block;
    padding: 0;
    width: 16.6%;
    min-width: 115px;
    text-align: center;
    font-size: 1.7rem;
}

.active-link {
    background-color: lightblue;
}

.question-block_image-block {
    margin: 10px;
    width: 170px;
    height: 145px;
}

.random-bird {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: contain;
}

.question-block_description {
    margin-left: 10px;
    width: 60%;
    min-width: 200px;
}

.question-block-bird-name {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.audio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-left: -6px;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.audio-button i {
    font-size: 1.3rem;
}

.audio-slider {
    margin: 0;
    min-width: 150px;
    width: 80%;
}

.audio-slider_liner {
    width: 100%;
}

.audio-slider_times {
    position: relative;
}

.start-time {
    position: absolute;
    left: 0;
    top: 0;
}

.end-time {
    position: absolute;
    right: 0;
    top: 0;
}

.game-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 1vh;
}

.answers-list, .bird-box  {
    background-color: darkcyan;
    width: 48%;
    min-width: 300px;
    border-radius: 10px;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.answers-list {
    padding: 0;
    list-style: none;
    max-height: 240px;
    border-radius: 10px;
}

.answers-list_component {
    height: 40px;
    text-align: center;
    font-size: 1.7rem;
    vertical-align: middle;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.answers-list_component:last-child {
    border-bottom: none;
}

.next-lvl-button {
    background-color: darkcyan;
    height: 35px;
    width: 100%;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    margin-top: 1.5vh;
}

.bird-box  {
    min-height: 240px;
    display: flex;
}

.bird-box_default-text {
    padding: 10px;
    margin-left: 0;
    font-size: 1.5rem;
}

.bird-information {
    width: 95%;
    height: 95%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.bird-information_container {
    min-width: 250px;
    max-height: 120px;
    margin-bottom: 5px;
}

.bird-information_container-name {
    font-size: 2rem;
    margin-bottom: 7px;
}

.bird-information_container-species {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.bird-information_full-description {
    width: 100%;
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 10px;
}

.correct-answer {
    background-color: green;
}

.incorrect-answer {
    background-color: red;
}